<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>PMS</title>
  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="/static/styles/plugins/bootstrap/css/bootstrap.min.css">
  <!-- Icon Font Css -->
  <link rel="stylesheet" href="/static/styles/plugins/icofont/icofont.min.css">
  <!-- Slick Slider  CSS -->
  <link rel="stylesheet" href="/static/styles/plugins/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="/static/styles/plugins/slick-carousel/slick/slick-theme.css">
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="static/styles/style.css">
</head>
{% extends "layout.html" %}
{% block body %}
<section class="page-title bg-1">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white">Book your Seat</span>
          <h1 class="text-capitalize mb-5 text-lg">Appoinment</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="appoinment section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
          <div class="mt-3">
            <div class="feature-icon mb-3">
              <i class="icofont-support text-lg"></i>
            </div>
             <span class="h3">Call for an Emergency Service!</span>
              <h2 class="text-color mt-3">+408 *** *** </h2>
          </div>
      </div>
      <div class="col-lg-8">
           <div class="appoinment-wrap mt-5 mt-lg-0 pl-lg-5">
            <h2 class="mb-2 title-color">Book an appointment</h2>
               <form class="appointment-form" method="POST" action="{{ url_for('saving_appointment') }}">
                    <div class="row">
                         <div class="col-lg-6">
                            <div class="form-group">
                                <select class="form-control-lg" id="exampleFormControlSelect1" name="specilaity_select">
                                    <option>Select a Speciality</option>
									{% for x in spec %}
                                  <option>{{ x }}</option>
									{% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <select class="form-control-lg" id="exampleFormControlSelect2" name="doctor_select">
                                    <option>Select a doctor</option>
                                </select>
                            </div>
                        </div>
                         <div class="col-lg-6">
                            <div class="form-group">
                                <select class="form-control-lg" id="Date" name="appointment_date" data-size="5">
                                    <option>Select a Date</option>
									{% for x in dates %}
                                  <option>{{ x }}</option>
									{% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <select class="form-control-lg" id="Time" name="time_slot">
                                    <option>Select a Time Slot</option>
                                </select>
                            </div>
                        </div>
                         <div class="col-lg-6">
                            <div class="form-group">
                                <input name="name" id="name" type="text" class="form-control" placeholder="Patient Full Name">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <input name="phone" id="phone" type="Number" class="form-control" placeholder="Phone Number">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input name="email" id="email" type="email" class="form-control" placeholder="Email-ID">
                            </div>
                        </div>
                    </div>
                    <div class="form-group-2 mb-4">
                        <textarea name="message" id="message" class="form-control" rows="6" placeholder="Any Message to the Doctor?"></textarea>
                    </div>
                    <button class="btn btn-primary btn-sm" type="submit" name="submit_appointment">Make Appointment</button>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
    <!--
    Essential Scripts
    =====================================-->
    <!-- Main jQuery -->
    <script src="plugins/jquery/jquery.js"></script>
    <!-- Bootstrap 4.3.2 -->
    <script src="/static/styles/plugins/bootstrap/js/popper.js"></script>
    <script src="/static/styles/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/styles/plugins/counterup/jquery.easing.js"></script>
    <!-- Slick Slider -->
    <script src="/static/styles/plugins/slick-carousel/slick/slick.min.js"></script>
    <!-- Counterup -->
    <script src=/static/styles/"plugins/counterup/jquery.waypoints.min.js"></script>

    <script src="/static/styles/plugins/shuffle/shuffle.min.js"></script>
    <script src="/static/styles/plugins/counterup/jquery.counterup.min.js"></script>
    <!-- Google Map -->
    <script src="/static/styles/plugins/google-map/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>

    <script src="/static/styles/script.js"></script>
    <script src="/static/styles/contact.js"></script>
<script>
division_select = document.getElementById('exampleFormControlSelect1');
doctor_select = document.getElementById('exampleFormControlSelect2');
date_select = document.getElementById('Date');
time_select = document.getElementById('Time');

division_select.onchange = function(){
division = division_select.value;
fetch('doctor/' + division).then(function(response){
response.json().then(function(data) {
optionHTML = '';
for (doc of data.doctorlist) {
optionHTML += '<option value="' + doc.id +'">' + doc.name + '</option>'
}
exampleFormControlSelect2.innerHTML = optionHTML;
});
});
}
date_select.onchange = function(){
doc_Select = doctor_select.value;
date_sel = date_select.value;
values=[doc_Select,date_sel]
fetch('timeslot/' + values).then(function(response){
response.json().then(function(data) {
optionHTML = '';
for (time of data.timeslot){
optionHTML += '<option value="'+ time.time_slot +'">' + time.time_slot + '</option>'
}
Time.innerHTML = optionHTML;
});
});
}
</script>
{% endblock %}
