<html>
<head>
<body>
<h3>Hi {{patient_name}},</h3>
<br>
<br>
<p>Ohh No,Your Booking has been Cancelled. You’ll find details of your Cancellation below.</p>
<br>
<p>Appointment Date/Time:<b>{{start_date_time}}</b></p>
<p>Doctor Name:<b>{{doctor_name}}</b></p>
<p>Doctor Speciality:<b>{{doctor_specilization}}</b></p>
<p> Cancellation Reason: <b>{{ reason }}</b></p>
<p>Appointment Status: <b>Cancelled<b></p>
<br>
<p>If you need to get in touch, you can email or phone us directly. We look forward to welcoming you soon!</p>
<br>
<br>
<p>Thanks again,</p>
<p>PMS</p>
</body>
</html>
