<html>
<head>
<body>

<h3>Hi {{patient_name}},</h3>
<br>
<br>
<p>It’s confirmed, we’ll see you on <b>{{start_date_time}}!</b> Thank you for booking appointment with us on. You’ll find details of your reservation below.</p>
<br>
<p>Appointment Date:<b>{{appointment_date}}</b></p>
<p>Appointment Time:<b>{{appointment_time}}</b></p>
<p>Doctor Name:<b>{{doctor_name}}</b></p>
<p>Doctor Speciality:<b>{{doctor_specilization}}</b></p>
<br>
<p>If you need to get in touch, you can email or phone us directly. We look forward to welcoming you soon!</p>
<br>
<br>
<p>Thanks again,</p>
<p>PMS</p>
</body>
</html>
