<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>PMS</title>
  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="/static/styles/plugins/bootstrap/css/bootstrap.min.css">
  <!-- Icon Font Css -->
  <link rel="stylesheet" href="/static/styles/plugins/icofont/icofont.min.css">
  <!-- Slick Slider  CSS -->
  <link rel="stylesheet" href="/static/styles/plugins/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="/static/styles/plugins/slick-carousel/slick/slick-theme.css">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="static/styles/style.css">

</head>
<body id="top">
<section class="section confirmation">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
          <div class="confirmation-content text-center">
            <i class="icofont-check-circled text-lg text-color-2"></i>
              <h2 class="mt-3 mb-4">Thank you for your appoinment</h2>
              <p>An Appointment Confirmation email has been sent to you.</p>
              <p><a href="dashboard"><u>Click Here! to return back to dashboard</u></a></p>
          </div>
      </div>
    </div>
  </div>
</section>
    <!-- 
    Essential Scripts
    =====================================-->
    <!-- Main jQuery -->
    <script src="/static/styles/plugins/jquery/jquery.js"></script>
    <!-- Bootstrap 4.3.2 -->
    <script src="/static/styles/plugins/bootstrap/js/popper.js"></script>
    <script src="/static/styles/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/styles/plugins/counterup/jquery.easing.js"></script>
    <!-- Slick Slider -->
    <script src="/static/styles/plugins/slick-carousel/slick/slick.min.js"></script>
    <!-- Counterup -->
    <script src="/static/styles/plugins/counterup/jquery.waypoints.min.js"></script>
    <script src="/static/styles/plugins/shuffle/shuffle.min.js"></script>
    <script src="/static/styles/plugins/counterup/jquery.counterup.min.js"></script>
    <!-- Google Map -->
    <script src="/static/styles/plugins/google-map/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>
    <script src="/static/styles/script.js"></script>
    <script src="/static/styles/contact.js"></script>
  </body>
  </html>
