{% extends "layout.html" %}

{% block title %}Home{% endblock %}
{% block body %}
<section id="bg-image">
  <h1 class="text-center">Patient Management Portal</h1>
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div class="jumbotron">
        <div class="index">Welcome to Patient Management Portal !</div><br>
        <div class="index">You can now schedule appointments with you doctors at your convenience.</div><br>
        <div class="index">Please login to enter..</div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
